.header-text {
  font-family: "Open Sans", sans-serif;
  
}

/*--Navigation--*/
.nav {
  border-bottom: #3b4f66;
  text-align: center;
  /* height: 80px;  */
  line-height: 40px;
  scroll-margin-top: inherit;
  background-color: #ffffff;
  
}
.sticky {
  padding: 0px; 
  top: 0px;
  position: sticky; 
  z-index: 99999;
  
}
.menu {
  margin: 0 20px 0 0;
  font-family: "Open Sans", sans-serif;
  
}
.menu a {
  text-decoration: none;
  color: #3b4f66;
  margin: 0 10px;
  line-height: 50px;
  
}
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  
}
#toggle {
  display: none;
}
/*--Hamburger Btn--*/
@media screen and (max-width: 500px) {
  label {
    display: block;
    cursor: pointer;
    width: 35px;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid #3b4f66;
  }
  #toggle:checked + .menu {
    display: block;
  }

  /*--Hero--*/
}
.container {
  color: #3b4f66;
  object-fit: contain;
}
.hero {
  margin: 0 auto;
  max-width: 1170px;
}
.banner {
  background-image: url(../img/bbBanner.png);
  height: 140px;
  background-size: cover;
  background-position: center center;
}

/*--hero medium screen--*/
@media screen and (max-width: 850px) {
  .container {
    color: #3b4f66;
    object-fit: contain;
  }
  .hero {
    margin: 0 auto;
    max-width: 850px;
  }
  .banner {
    background-image: url(../img/Bridle&BitTablet.png);
    height: 255px;
    background-size: cover;
    background-position: center center;
  }
  .center {
    justify-content: center;
  }
  .flex-column {
    flex-direction: column;
  }
  .align-center {
    align-items: center;
  }
}
/*---hero small screen---*/
@media screen and (max-width: 500px) {
  .container {
    color: #3b4f66;
    object-fit: contain;
  }
  .hero {
    margin: 0 auto;
    max-width: 500px;
  }
  .banner {
    background-image: url(../img/Bridle&Bit.png);
    height: 315px;
    background-size: cover;
    background-position: center center;
  }
  .center {
    justify-content: center;
  }
  .flex-column {
    flex-direction: column;
  }
  .align-center {
    align-items: center;
  }
}
/*---END hero section---*/

/*---Image Carousel ---*/
* {box-sizing: border-box}

.mySlides {display: none}
img {vertical-align: middle;}


.carousel-container {
  max-width: 970px;
 
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  
}

 .next {
  right: 0;
  border-radius: 3px 0 0 3px; 
} 

.active, .next:hover {
  background-color: #a7e66e;
}
.active, .prev:hover {
  background-color: #a7e66e;
}


/*---End Image Carousel ---*/



.center {
  justify-content: center;
}
.text-heading {
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  /* border-bottom:  1px solid #a7e66e; */
  margin-right: 3%;
}
.text-secondary {
  color: #ffffff;
  /* text-align: center; */
  font-family: "Open Sans", sans-serif;
  margin-right: 7%;
}
.text-block {
  padding-left: 2%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.nav-list {
  padding: justify;
  margin: 10%;
  display: flex;
  text-align: center;
}
.nav-border {
  border-bottom: 1.5px solid #3b4f66;
}
.welcome-border {
  border: 3px solid #a7e66e;
  margin-top: 5px;
  margin-top: 5px;
}
.spacing {
  justify-content: space-between;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction:row;
  max-width: 35%;
  display: flexbox;
   /*text-align: right;*/ 
}
.social-column {
  flex-direction: column;
  max-width: 50%;
  display: flexbox; 
  padding-right: 5%;
  padding-left: 5%;
  /* text-align: right; */
}
.image {
  max-width: 100%;
  max-height: 300px;

  /* opacity: .2; */
}

.image-right {
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 300px;

}
.text-left {
  float: left;
  
}

/* .image-directory{
  max-width: 30%;
} */
.bottom-directory {
  padding-left: 2%;
  display: flex;
  margin: 25px;
  justify-content:space-around;
}

.directory-style {
  border-style: solid;
  color: #3b4f66;
  
}
/* .directory-text {
  position: absolute;
  top: 0%; 
  bottom: 50%;
  color: #3b4f66;
  font-size: large;
  transform: translate(-50%, -50%); 

}*/
.active, .image:hover {
  opacity: .8;
  color: #a7e66e;

}

@media screen and (max-width: 850px) {
  .directory-adjust {
    flex-direction: column;
    padding-top: 0px;
   /* margin-bottom: 50%;*/
    padding-bottom: 0px;
     /* max-height: px;  */
  }
  .dis-img {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .image-adjust {
   /* margin-top: 5px;*/
    /*margin-bottom: ;
    padding-top: 3px;
    padding-bottom: 3px;*/ 
    max-height: 175%;
     width: 100%; 
    /* max-height: 85%; */
    object-fit:cover;
  }
  /* .header-three{
    padding-bottom: px;
  } */
  
  .bottom-directory {
    padding-top: px;
    padding-bottom: 70px;
    display: flex;
    /* margin: auto; */
    justify-content: space-between;
    max-height: 100px;
    max-width: 100%;
  }
  .dis-img {
    display: none;
  }
  .header-three {
    text-align:inherit;
    font-family: "Open Sans", sans-serif;
    font-style: bold;
    color:  #3b4f66;
    
  }
}
.ul-display {
  list-style-type: none;
}
.center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-grid {
  display: flex;
  padding: 3%;
  /* padding-top: %; */
  flex-grow: 1;
}


.border {
  background-color: #3b4f66;
  padding: 5%;
}

.header-three {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  color:  #3b4f66;
  
}

/*--Social Media--*/

.grid {
  display: grid;
  place-items: center;
  
}

/* Email */
.email-style {
  margin-left: 30%;
}
.btn-style {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  background-color: #3b4f66;
  border-radius: 1%;
  border-color: #a7e66e;
}
.social-icon {
padding-bottom: 10px;
}
.email-header {
  text-align: center;
  position: center;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  color: #ffffff;
  text-decoration: underline #a7e66e;
}
.email-text {
  text-align: center;
  position: center; 
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-style: italic;
}
.social-header {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  color: #ffffff;
  text-decoration: underline #a7e66e;
}
@media screen and (max-width: 850px){

  .email-style {
    margin-left: 10%;
  }
.footer-adjust {
    flex-direction: column;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 10px;
    /* max-height: 20px; */
  }
}
@media screen and (max-width: 500px){

  .footer-adjust {
      flex-direction: column;
      justify-content: center;
      padding-top: 5%;
      padding-bottom: 30%;
      /* max-height: 20px; */
    }
  }
