.header-text {
    font-family: 'Roboto Slab', serif;
    color: cadetblue;

}
.text-heading {
    font-size: 30px; 
}
.text-secondary {
    
    text-align: center;
}

.nav-list {
    padding: justify;
    width: 550px; 
    margin-top: 10px;
    display: flex;
}
.spacing {
    justify-content: space-between;
}
.flex {display: flex }
.flex-column {flex-direction: column;}
.image {
    max-width: 100%;
    max-height: 400px;
    opacity: .5;
}
.ul-display {
    list-style-type: none;

}
.center {
    justify-content: center;
}
.align-center {
    align-items: center;

}
.flex-grid {
    display: flex;
    padding: 10% ;
  }

  .col {
    flex: 1;
  }
  .border {
      background-color: #E6E6FA;
      padding: 5%;
  }

.twitter {
    background-image: url('/img/twitter.png');
}
.facebook {
    background-image: url('/img/facebook.png');
}
.instagram {
    background-image: url('/img/instagram.png');
}